@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
  --black: #272d3b;
  --red: #f53f8b;
  --pink: #d59cf9;
  --blue: #a8baf9;
  --coral: #b3f670;
  --light-blue: #dbe3ffff;
  --light-pink: #f3e0ffff;
  --gradient1: linear-gradient(90deg, var(--light-blue), var(--light-pink));
  --gradient: linear-gradient(90deg, var(--blue), var(--pink));
  --gradient0: linear-gradient(131deg, #dbe3ff, #ffffff, #f3e0ff);
}

body{
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    background-color:#ededed;
}

.footer {
  text-align: center;
  background: var(--black);
  padding-top: 3px;
  margin-top: 40px;
  height: 150px;
}
.footer .share {
  padding-top: 10px;
}

.footer .share a {
    height: 3.4rem;
    width: 3.4rem;
    line-height: 60px;
    background: #eee;
    color: var(--black);
    border-radius: 50%;
    font-size: 1.7rem;
    margin: 0.3rem;
}

.footer .share a:hover {
  color: #fff;
  background: var(--gradient);
}

.footer .credit {
    color: #eee;
    padding: 8px;
    font-weight: normal;
    font-size: 1.5rem;
}

.footer .credit span {
  color: var(--red);
}

    @media (max-width: 720px) {
        .footer .credit{
            font-size: 1.3rem;
        }
       }

       @media (max-width: 600px){
          .footer .credit{
        font-size: 1rem;
          }
          .footer .share a {
        height: 2rem;
        width: 2.2rem;
        line-height: 33px;
        font-size: 1.3rem;
        }
        .footer{
          height:100px;
        }

       }