body{
    height: 100vh;
}
.main-container{
    height: calc(100vh - 50px);
    width: 100%;
    justify-content: center;
}
.container{

    width: 50%;
    min-width: 350px;
    max-width: 500px;
    height: 100%;
    padding: 1rem;
}
.shadow{
    border: 1px solid var(--light1);
}

.gradient{
position: relative;
height: 40vh;
width: 100%;
border-radius: 10px;
margin-bottom: 1.5rem;
/* background-image: linear-gradient(to left,rgb(0, 145, 255) , rgb(255, 34, 185)); */
}

.gd-background{
    position: absolute;
    content: "";
    width: 94%;
    height: 30%;

    left: 50%;
    transform: translateX(-50%);
    
    bottom: -8px;
    z-index: -1;
    filter: blur(10px);
    
}

#colors{
    position: relative;
    width: 100%;
    /* height: 50px; */
    margin-bottom: 1rem;
    background-color: aqua;
    border-radius: 8px;
    background-color: var(--light1);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}
.range{
    z-index: 1;
}

.color{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    margin:0.4rem  0 0.4rem 0.4rem;
    transition: 0.2s;
    cursor: pointer;

}
.color:hover{
    border: 2px dotted var(--dark1);
    box-shadow: 2px 2px 3px #1111;
}
#color-add{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    margin:0.4rem  0 0.4rem 0.4rem;
 
    cursor: pointer;
    background-color: var(--light);
    border: 2px dotted var(--dark1) ;
    color: var(--dark1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: 0.5s;

    position: absolute;
    right: 0.5rem;
    top: 0;


}
.color-palette{
    width: calc(100% - 40px - 1rem);
}




#color-add span{
    transition: 0.5s;
}
#color-add span.cross-show{
    transform: rotate(45deg);
}

#color-add:hover{
border: 2px solid var(--dark1);
}
.color-controls{
    top: 0px;
    left: 50%;
    padding: 0;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    background-color: var(--light);
    border: 1px solid var(--light1);
    border-radius: 8px;
    backdrop-filter: blur(40px);
    box-shadow: 2px 2px 5px #1111;
    height: fit-content;
    z-index: 2;
    padding: 1rem 1rem;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s ease-out;
    

}
.color-controls.display-color-controls{
    top: 60px;
    transition: 1s;
    opacity: 1;
    pointer-events: all;
    /* display: block; */
}

.color-controls span{
    background-color: var(--light1);
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-controls button{
    width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    border: none;
    background-color: var(--dark1);
    color: var(--light);
    font-size: 1rem;
    border-radius: 8px;
}





.type{
    background-color: var(--light1);
    padding: 0.6rem;
    width: 100%;
    border-radius: 8px;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.type button{
    padding: 0.4rem 1.2rem;
    background-color: var(--light);
    color: var(--dark1);
    border-radius: 5px;
    border: none;
    font-weight: 500;


}




.color-change{
    top: 0px;
    left: 50%;
    padding: 0;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    background-color: var(--light);
    border: 1px solid var(--light1);
    border-radius: 8px;
    backdrop-filter: blur(40px);
    box-shadow: 2px 2px 5px #1111;
    height: fit-content;
    z-index: 3;
    padding: 1rem 1rem;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s ease-out;
    

}
.color-change.display-color-change{
    top: 60px;
    transition: 1s;
    opacity: 1;
    pointer-events: all;
    /* display: block; */
}

.color-change span{
    background-color: var(--light1);
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-change button{
    width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    border: none;
    background-color: var(--dark1);
    color:var(--light);
    font-size: 1rem;
    border-radius: 8px;
}

.color-change #remove{
    background-color: var(--red);
}

.up{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    padding:0;
    cursor: pointer;

}
.up span{
    margin-top: 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.up span h3{
   margin: 0;
   padding: 0;
    transform: rotate(45deg);
    font-weight: 400;
}
#remove{
    transition: 1s;
}

#remove.wobble{
    animation: wob 0.5s ease;
    opacity: 0.5;

}
@keyframes wob {
    0%{
        transform: translateX(-10px);
    }
    20%{
        transform: translateX(10px);
    }
    40%{
        transform: translateX(-10px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }
}

.type button.active{
    background-color: var(--dark1);
    color: var(--light);
}
#angleShow{
    display: flex;
    transition: .5s;

}
.container{
    position: relative;
}
#angleShow.remove{
    position: absolute;

    top: 65%;
    opacity: 0;
    transform: translateY(70%);


}

.gradient{
    position: relative;
}

.code{
    position: absolute;
    background-color: #fff;
    bottom: 0;
    right: 0; 
    margin: 0.5rem;
    color: #111;
    border-radius: 6px;
}
.container{
    position: relative;
}
.code-display{
    width: 100%;
    height: 50vh;
    background-color: var(--light1);
    padding: 1rem;
    border-radius: 8px;
    bottom: 0;
    z-index: 10;
    transform: translateY(100%);
    position: absolute;
    transition: 1s;
}
.code-display.active{
    transform: translateY(0%);

}


.code-display .css-code{
    
    height: 50%;
    background-color:var(--light);
    border-radius: 0.5rem;
    max-height: fit-content;
    padding: 0.5rem;



}

.copy-code{
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: var(--blue);
    border: none;
    font-size: large;

}






