@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --black: #272d3b;
  --red: #f53f8b;
  --pink: #d59cf9;
  --blue: #a8baf9;
  --coral: #b3f670;
  --light-blue: #dbe3ffff;
  --light-pink: #f3e0ffff;
  --gradient1: linear-gradient(90deg, var(--light-blue), var(--light-pink));
  --gradient: linear-gradient(90deg, var(--blue), var(--pink));
  --gradient0: linear-gradient(131deg, #dbe3ff, #ffffff, #f3e0ff);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 3px solid red; */
}

/* Main section  */

        .main-section{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content:center;
            align-items:center;
            flex-direction: column;

            background-image:var(--gradient0);
        }
        h1{
            font-size: 7rem;
            position: relative;
            font-weight: 800;
            z-index: 1;
            transition: 0.5s;
            color:black;
            }

          h1:hover{
            -webkit-text-stroke: 3px var(--black);
            color: transparent;
            font-size: 7.2rem;
          }

        h1::before{
            position: absolute;
            content: " ";
            width: 51px;
            height:41px;
            background-image: url('/src/img/Asset.png');
            background-size: cover;
            z-index: -1;
            top:23px;
            left:-10px;
        }

        h1::after{
            position: absolute;
            content: " ";
            width: 51px;
            height:41px;
            background-image: url('/src/img/Asset.png');
            background-size: cover;
            z-index: -1;
            bottom:20px;
            right:-18px;
        }
        .subtitle {
            font-size: 1.5rem;
            width: 44vw;
            min-width: 300px;
            text-align:center;
        }

            /*  Nav Menu */

    /* *{
            margin:0;
            padding:0;
            box-sizing: border-box;
            font-family: 'poppins';
        } */
        body{
            /* width:100vw; */
            height:100%;
            overflow-x: none;
        }

        nav{
        padding:1rem;
        z-index: 100;
         width: 100vw;
         height:60px;
         display:flex;
         position: fixed;
         top:0;
         left:0;
         justify-content: space-between;
         align-items: center;
         background:linear-gradient(90deg, #dbe3ffff, #f3e0ffff);
         backdrop-filter: blur(20px);
         border-bottom:1px solid #e7ecff;
        }

        .logo{
         width:260px;
         display: flex;
         justify-content:center;
         align-items: center;
        }
        .logo img{
         width:42px;
         height:42px;
        }

        .logo h2{
        margin-left: 0.434rem;
        font-size: 2.2rem;
        font-weight: 600;
       }

       ul{
        display:flex;
        justify-content:space-between;
        align-items: center;
       }

       li{
        margin-right: 2rem;
        list-style-type: none;
       }

       a{
        text-decoration: none;
        color: #1f1f1f;
        font-size: 1.234rem;
        font-weight: 500;
       }
        a.logo_link {
        margin-top: 8px;
        }
        a:hover{
            color:#3b3939;
            font-size: 1.3rem;
            transition: 0.5s;
        }
      
       .ham{
        display: none;
       }

      
       .ham span{
        
        height: 4px;
        border-radius: 2px;
        width:40px;
        background-color:#111;
        pointer-events: none;
        transition: 0.5s;
       }
       .ham.close span:nth-child(1){
            transform: translateY(13px) rotate(45deg);
       }
       .ham.close span:nth-child(2){
            transform: scale(0);
       }
       .ham.close span:nth-child(3){
            transform: translateY(-13px) rotate(-45deg);
       }

        /* swiper style */
.slider {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #efefef;
}


.slider {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #efefef;
}

.slide-container {
  max-width: 1200px;
  width: 100%;
  padding: 0 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #fff;
  height: 340px;
  width: 120px;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 0 0;
  width: 100%;
  height: 23em;
  overflow: hidden;
}

.image-content img {
  min-width: 100%;
  min-height: 100%;
  z-index: 100;
  /* border-radius: 10px; */
  /* padding: 20px; */
  border-radius: 7%;
  width: 100%;
}

.tool {
  font-size: 2.3rem;
  font-weight: 500;
  color: #333;
  padding-top: 10px;
}

.button {
  border: none;
  font-size: 1.4rem;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #265df2;
}

.swiper-navBtn {
  color: #5d30ef;
  transition: color 0.3s ease;
  opacity: 0.6;
  font-weight: 700;
}
.swiper-navBtn:hover {
  color: #5d30ef;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #aa6ff3;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #9d53f1;
}

.heading {
  text-align: center;
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.7rem;
  text-transform: uppercase;
  padding: 1rem;
  bottom: 0;
}

#head{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* About */

  .about {
  min-height: 80vh;
  background-color: #ffffff;
}

.about .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .box-container .box {
  margin: 1rem;
  border-radius: 0.7rem;
  text-align: center;
  background: rgba(237, 23, 111, 0.05);
  padding: 1rem;
  flex: 1 1 15rem;
  cursor: pointer;
  height: 320px;
  width: 200px;
}

.about .box-container .box i {
  color: var(--red);
  font-size: 3rem;
  padding: 2rem;
}

.about .box-container .box h3 {
  color: #272d3b;
  font-size: 1.5rem;
}

.about .box-container .box p {
  color: #666;
  font-size: 1.2rem;
  padding: 1rem;
}

.about .box-container .box:hover {
  background: var(--gradient);
  transition: 0.5s;
}

.about .box-container .box:hover > * {
  color: rgb(251, 251, 251);
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Media Queries */

@media (max-width: 760px) {
   .ham{
        width: 40px;
        height:27px;
        margin-right: 2.7rem;
        display:flex;
        justify-content:space-between;
        align-items: center;
        flex-direction: column;
        cursor:pointer;

       }
        .ham span{
        height: 4px;
        border-radius: 2px;
        width:39px;
        background-color:#111;
        pointer-events: none;
        transition: 0.5s;
       }

        .nav-area{
            position:absolute;
            height:calc(100vh - 60px);
            width:100vw;
            top:0;
            left:0;
            transform:translateY(60px) translateX(-100%);
            background: var(--gradient0);
            transition: 0.5s;
            display:flex;
            justify-content:center;
            align-items: center;

        }
        .nav-area.open{
            transform:translateY(60px) translateX(0%);

        }

        ul{
            display:flex;
            justify-content:space-around;
            align-items: center;
            flex-direction: column;
            width: 100%;
        }
        li{
            text-align: center;
            margin-bottom: 2rem;
            width:100%;         
        }

        a{
            font-size: 2rem;  
        }
        a:hover{
            font-size: 2.2rem; 
            color:#474444;
        }
        .logo h2{
            display:none;
        }
        .logo img{
            margin-right:159px;
        }
       }

       @media (max-width: 600px){
            .main-section{
                min-height:70vh;
            }      
        h1{
            font-size: 5.3rem;
            margin-bottom:4rem;
            }

          h1:hover{
            font-size: 5.6rem;
          }

        h1::before{
            width: 45px;
            height:39px;
            top:12px;
            left:-16px;
        }

        h1::after{
            width: 45px;
            height:39px;
            bottom:11px;
            right:-25px;
        }

        
        .subtitle {
            font-size: 1.2rem;
            min-width: 400px;
            margin: 20px 0 24px 20px;
        }


        .logo img{
            margin-right:209px;
        }
        .ham{
            margin-right: 1rem;
        }
       a{
        font-size: 1.5rem;
        font-weight: 500;
       }
       a:hover{
        font-size:1.7rem;
        transition: 0.5s;
        }
       }

        @media (max-width: 480px){
             h1{
            font-size: 4.4rem;
            }

          h1:hover{
            font-size: 4.6rem;
          }

        h1::before{
            width: 35px;
            height:33px;
            top:18px;
            left:-16px;
        }

        h1::after{
             width: 35px;
            height:33px;
            bottom:10px;
            right:-18px;
        }
        .subtitle {
        font-size: 1.2rem;
        min-width: 400px;
        margin: 15px 0 0 15px;
        }
        
        }
